doctype html 
html(lang="en")
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset="UTF-8")
		//- link(rel="stylesheet" href="css/application.min.css")
		link(rel="stylesheet" href="css/jquery.mobile.custom.structure.min.css")
		link(rel="stylesheet" href="css/jquery.mobile.custom.theme.min.css")
		link(rel="stylesheet" href="css/application.css")
		link(rel="stylesheet" href="css/opentip.css")
	body
		block main
		script(src="js/all.min.js")
		block script
			