extends templates/_layout.pug

block main
	div#login(data-role="page",style="position: relative")
		div.header(data-role="header")
			div.bt.bt-Prev
			h1
		div.ui-content.ui-content--login(data-role="main")
			div.login
				div.login_block
					div.login_block_title
						span xxxxxxx xxxx
					div.login_block_inputs
						input(type="text", placeholder="username")
						input(type="password", placeholder="password")
					a(href="../menu.html",data-transition="pop")
						div.bt.bt-login
							span 登入
block script
	
	

